      ul#cart_shopping {
      position: fixed;
      margin: 10% 0 0 0;
      padding: 0px;
      top: -1px;
      list-style: none;
      z-index:999999;
      width:71px;
    left: 0px;
    height: 94px;
}
      ul#cart_shopping li {
      margin-left:-190px;
}
      ul#cart_shopping li div#main_cart {
      
      display: block;
      float:left;
	  color: #d5d4d4;font-size: 17px; font-family: 'Arial', cursive; font-weight: 400;text-align:left;
      margin-top: -2px;
      height:100px;
      list-style: none;
      width:265px;
      background-repeat:no-repeat;
      background-position:50% 10px;
      background-color:#000000;      
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;      
      text-decoration:none;
      text-align:center;
      opacity: 0.80;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85);      
      }
      div#span_cart{float:right; margin-top:10%; list-style: none; text-align:right; margin-right:10px; font-size: 17px; font-family: 'Arial', cursive; font-weight: 400; color: #00ff21;}
      div#span_cart a{ font-size: 17px; font-family: 'Arial', cursive; list-style: none; font-weight: 400;}
      div#span_cart a:hover{ color: #fff; text-decoration: none; list-style: none; }
      div#view_cart{float:right; margin-top:10%; margin-right:10px; text-align:left; list-style: none; color:#00ff21;}